body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

#app {
  margin-top: 40px;
}

#flights{
    padding-top: 40px;
}

/***/

#aha-app .table-responsive {
    max-height: 100px 0 !important;
}

#aha-app #flight-search label.col-sm-12 {
    padding-left: 0 !important;
}

.seat-table {
	width: auto;
}

.seat {
	width: 30px;
}